@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  height: 5px;
  background-color: #1F1D36; /* Dark background of the scrollbar */
}

/* Style the scrollbar thumb (the part that's draggable) */
::-webkit-scrollbar-thumb {
  background-color: #4C4A68; /* Lighter shade for the thumb */
  border-radius: 2.5px;
}

/* Optionally, style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #68658A;
}